<div class="watermark">
  <div class="watermarkText">TARGET WITH SK SIR</div>
</div>

<div class="banner head"><span> <%= examInfo.testName %> </span></div>

<div id="mainContent">
  <% questions.map((question => { %>
  <div class="mcq">
    <div class="question" data-num="<%= question.N %>"><%- question.Q %></div>

    <% const maxLength = question.O.reduce((r,s) => r.length > s.length ? r :
    s).length; if ( maxLength < 16 ) { %>
    <div class="optBlockSingle">
      <div class="option" data-num="A"><%= question.O[0] %></div>
      <div class="option" data-num="B"><%= question.O[1] %></div>
      <div class="option" data-num="C"><%= question.O[2] %></div>
      <div class="option" data-num="D"><%= question.O[3] %></div>
    </div>
    <% } else { %>
    <div class="optBlock">
      <div class="option" data-num="A"><%= question.O[0] %></div>
      <div class="option" data-num="B"><%= question.O[1] %></div>
    </div>
    <div class="optBlock">
      <div class="option" data-num="C"><%= question.O[2] %></div>
      <div class="option" data-num="D"><%= question.O[3] %></div>
    </div>
    <% } %>

    <div class="answer">
      <span class="key"
        >Answer <%= String.fromCharCode(65 + question.A) %>
      </span>
      <span class="solution">
        <% if (!question.S) { %> <%- `Option ${String.fromCharCode(65 +
        question.A)} is the correct answer.` %> <% } else { %> <%- question.S %>
        <% } %>
      </span>
    </div>
  </div>
  <% })) %>
</div>
